body,
.btn-ar-model,
.ar-font,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Source Sans Pro", sans-serif;
}

/* Header */

/* Header END */

.heading-bg {
  max-width: 350px;
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.heading-bg .bg {
  min-width: 350px;
  top: -28px;
  left: 0;
}

/* Main section */
.main-section .title-side .plus i {
  line-height: 28px;
}

/* Ipad section */
.ipad-section .ipad-wrapper .ipad-slider-screen .ipad-main-slider {
  /* top: 30px; */
  right: auto;
  left: 78px;
}
@media (max-width: 767px) {
  .ipad-section .ipad-wrapper .ipad-slider-screen .ipad-main-slider {
    /* top: 20px; */
    right: auto;
    left: 48px;
  }
}

@media (max-width: 575px) {
  .ipad-section .ipad-wrapper .ipad-slider-screen .ipad-main-slider {
    /* top: 14px; */
    right: auto;
    left: 23px;
  }
}
/* Ipad section end */


.timeline-content.left {
  margin-right: auto;
  margin-left: 5%;
}
.timeline-content.right {
  margin-left: auto;
  margin-right: 5%;
}

.timeline-image-container.left {
  margin-rightleft: auto;
  margin-left: 5%;
}

.timeline-image-container.right {
  margin-left: auto;
  margin-right: 5%;
}

.timeline::after {
  right: auto;
  left: 50%;
  margin-right: auto;
  margin-left: -3px;
}
.timeline-icon {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-progress {
  right: auto;
  left: 50%;
  margin-right: auto;
  margin-left: -3px;
}
@media (max-width: 991px) {
  .timeline::after {
    right: auto;
    left: 31px;
  }
  .timeline-icon {
    right: auto;
    left: 31px;
    transform: translateX(-50%);
  }
  .timeline-step-number {
    right: auto;
    left: 31px;
  }
  .timeline-progress {
    right: auto;
    left: 31px;
  }
  .timeline-content,
  .timeline-image-container {
    margin-left: 30px !important;
    margin-right: 0 !important;
  }
}